
@{
    ViewBag.Title = "Контакты";
}

<h2>Контакты</h2>

<div class="col-md-8">
    <p>
        Skype: gengod_original
    </p>
    <p>
        Телефон: +79511375515
    </p>
    <p>
        Личный сайт: <a href="gengod.esy.es">gengod.esy.es</a>
    </p>
    <p>
        Также можно написать мне <a href="comments/index">сообщение</a>
    </p>
    <input type="submit" class="btn" value="Вернуться на главную" onclick="turnBack()" />
</div>


